In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
def main():
  #Input from Console
  in_str=input("Enter any string: ")
  #Delete two Characters
  dr_str=in_str[:-2]
  #Resultant Reversed string
  print("Resultant Reversed String: ",end="")
  print(reverse(dr_str))

def reverse(s):
  #Now reversing the string
  out_str = ""
  for i in s:
        out_str = i + out_str
  return out_str

main()

Enter any string: python
Resultant Reversed String: htyp

In [ ]:
#Input from Console
n1 = float(input("Enter 1st number: "))
n2 = float(input("Enter 2nd number: "))

#Performing +,-,*
addition = n1 + n2
subtract = n1 - n2
multi = n1 * n2

#To ensure non-zero division
if n2 != 0:
    divide = n1 / n2
else:
    divide = "Cannot divide by zero"

#Printing the results of arithmetic operations
print("Addition:", addition)
print("Subtraction:", subtract)
print("Multiplication:", multi)
print("Division:", divide)

Enter 1st number: 25.2
Enter 2nd number: 2
Addition: 27.2
Subtraction: 23.2
Multiplication: 50.4
Division: 12.6

In [ ]:
#Enter sentence from Console
Sent=input("Enter the Sentence: ")

#Now replace every occurance of python with pythons using replace()
Result=Sent.replace("python","pythons")

#After replacing, the result is
print("Modified Sentence: ",Result)

Enter the Sentence: python is very easy language to learn
Modified Sentence:  pythons is very easy language to learn

In [18]:
#Take score entered in Console
sc = float(input("Enter the score: "))

#To determine the grade according to score
if sc >= 90:
    l_gr = 'A'
elif 80 <= sc < 90:
    l_gr = 'B'
elif 70 <= sc < 80:
    l_gr = 'C'
elif 60 <= sc < 70:
    l_gr = 'D'
else:
    l_gr = 'F'

#Printing the grade obtained
print("Grade:", l_gr)

Enter the score: 91
Grade: A

In [ ]:
#Input list
list1= [23, 'Python', 23.98]

#Printing original list
print(list1)

#Creating a list containing the types of each element in list1
list2 = [type(i) for i in list1]

#Printing the required list
print(list2)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
# Given sets and list
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#1. Find the length of the set IT_companies
length_c = len(IT_companies)
print("1.Length of IT_companies:", length_c)

#2. Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("2.IT_companies after adding Twitter:", IT_companies)

#3. Insert multiple IT companies at once to the set IT_companies
IT_companies.update(['Meta', 'TikTok', 'Instagram'])
print("3.IT_companies after adding multiple companies:", IT_companies)

#4. Remove one of the companies from the set IT_companies
IT_companies.remove('Google')  # Removing Google
print("4.IT_companies after removing a company:", IT_companies)

#5. Difference between remove and discard:
#- remove() will raise a KeyError if the element is not present in the set.
#- discard() will not raise an error if the element is not present in the set.

#6. Join A and B
A_u_B = A.union(B)
print("6.A union B:", A_u_B)

# 7. Find A intersection B
A_i_B = A.intersection(B)
print("7.A intersection B:", A_i_B)

#8. Is A subset of B?
is_A_sub_B = A.issubset(B)
print("8.Is A a subset of B?:", is_A_sub_B)

#9. Are A and B disjoint sets?
are_A_B_dis = A.isdisjoint(B)
print("9.Are A and B disjoint?:", are_A_B_dis)

#10. Join A with B and B with A
A_u_B_again = A.union(B)
B_u_A = B.union(A)
print("10.A union B (again):", A_u_B_again)
print("   B union A:", B_u_A)

#11. What is the symmetric difference between A and B
A_sd_B = A.symmetric_difference(B)
print("11.Symmetric difference between A and B:", A_sd_B)

#12. Delete the sets completely
del IT_companies
del A
del B

#13. Convert the ages to a set and compare the length of the list and the set.
age_st = set(age)
length_age = len(age)
length_age_st = len(age_st)
print("13.Length of age list:", length_age)
print("   Length of age set:",length_age_st)
#Comparing lengths
if length_age == length_age_st:
    print("The lengths are equal.")
else:
    print("   The lengths are not equal.")

1.Length of IT_companies: 7
2.IT_companies after adding Twitter: {'IBM', 'Microsoft', 'Google', 'Amazon', 'Oracle', 'Twitter', 'Facebook', 'Apple'}
3.IT_companies after adding multiple companies: {'TikTok', 'Google', 'Instagram', 'Apple', 'Microsoft', 'Oracle', 'Meta', 'Facebook', 'IBM', 'Amazon', 'Twitter'}
4.IT_companies after removing a company: {'TikTok', 'Instagram', 'Apple', 'Microsoft', 'Oracle', 'Meta', 'Facebook', 'IBM', 'Amazon', 'Twitter'}
6.A union B: {19, 20, 22, 24, 25, 26, 27, 28}
7.A intersection B: {19, 20, 22, 24, 25, 26}
8.Is A a subset of B?: True
9.Are A and B disjoint?: False
10.A union B (again): {19, 20, 22, 24, 25, 26, 27, 28}
   B union A: {19, 20, 22, 24, 25, 26, 27, 28}
11.Symmetric difference between A and B: {27, 28}
13.Length of age list: 8
   Length of age set: 5
   The lengths are not equal.